#container{
    width:25%;
    margin:auto;
    padding: 8px;px 0 8px 0;
    border-bottom:3px solid rgb(19, 18, 18);
    background:whitesmoke;
    }
    #container {
    text-align:Center;
    }
    .box{
    border-bottom:2px solid gray;
    width:65%;
    background:whitesmoke;
    outline: none;
    color:black;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:100%;
    }
    #container label{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:black;
    padding:0 10px 0 0;
    }
    
    #button{
    width:30%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:white;
    background:gray;
    margin:0 0 0 40px;
    }